/*** GENERICS ***/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 30px;
  line-height: 1.7rem;
}

img {
  width: 100%;
}


/*** UTILITIES ***/

p {
  color: chocolate;
  margin-top: 10px;
}

/*** CONTENT ***/

.none {
  display: none;
}

.row {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}